body{
    background-color: burlywood;
}

img{
width:200px;
display: block;
margin: auto;

}


p{
    text-align: center;
    background-color: rgb(112, 35, 35);
    color: rgb(8, 9, 9); /*changes the color of the text*/


}

h1, h2{
    text-align: center;
    background-color: blue;
}


header{
    text-align: center;
}

a, section 
{
    text-align: center;
    color: aliceblue;
}

a :hover
{
    color: rgb(11, 109, 195);
}



